/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #4d4d4d;
  --basic-extra-dark: #283136;
  --basic-light: #d7dcde;
  --basic-extra-light: #eeeeee;
  --basic-white: #ffffff;
  --basic-grey: #666666;

  --grey-social: #e1e1e1;
  --grey-input: #444444;

  --black-translucent: rgba(0, 0, 0, 0.7);
  --black-transparent: rgba(0, 0, 0, 0.3);
  --white-transparent: rgba(255, 255, 255, 0.3);
  --darck-opacity: rgba(77, 77, 77, 0.12);

  --shadow: rgba(0, 1, 1, 0.1);

  --accent-red: #fb565a;
  --accent-green: #00ca74;
  --accent-yellow: #efc849;

  --btn-basic_hover: #e74246;
  --btn-basic_focus: #d7373b;

  --btn-app_hover: #00bc6c;
  --btn-app_focus: #00aa62;

  --btn-presentation_hover: #eab534;
  --btn-presentation_focus: #e5a722;

  --btn_hover: #b4b9bb;

  --page-current: #dbdbdb;
  --page-hover: #dfdfdf;
  --page-focus: #d5d5d5;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
  background-color: var(--basic-extra-light);
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  column-gap: 40px;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  margin-top: 49px;
}

.main-header-logo[href]:hover {
  opacity: 70%;
}

.main-header-logo[href]:focus,
.main-header-logo[href]:active {
  opacity: 30%;
}

.site-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  column-gap: 45px;
  justify-content: center;
  align-items: flex-end;
}

.user-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  justify-content: flex-end;
  align-items: flex-end;
}

.site-navigation a {
  color: var(--basic-black);
}

.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a[href]:hover {
  color: var(--accent-red);
}

.user-navigation a[href]:hover {
  color: var(--accent-red);
}

.site-navigation a[href]:focus,
.site-navigation a[href]:active {
  color: var(--black-transparent);
}

.user-navigation a[href]:focus,
.user-navigation a[href]:active {
  color: var(--black-transparent);
}

.site-navigation a:not([href]) {
  color: var(--basic-black);
  padding-bottom: 13px;
  border-bottom: 2px solid var(--accent-red);
}

.user-navigation a:not([href]) {
  color: var(--basic-black);
  padding-bottom: 13px;
  border-bottom: 2px solid var(--accent-red);
}

/* Container */

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

/* Slider */

.slider-wrapper {
  background-color: var(--basic-extra-light);
}

.main-slider {
  margin-bottom: 80px;
  display: grid;
}

.slider__list {
  list-style: none;
}

.slider__item {
  /* text-align: center; */
  background-repeat: no-repeat;
  background-color: var(--basic-extra-light);
  /* background-position: 114px 537px; */
}

.slider__item > .titel {
  width: 538px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider__item-long {
  background-image: url("../img/content/long_expensive.png");
}

.slider__item-love {
  background-image: url("../img/content/love_math.png");
}

.slider__item-only {
  background-image: url("../img/content/only_night.png");
}

/* Button */

.button {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  /* vertical-align: 500; */
  text-transform: uppercase;
  background-color: var(--accent-red);
  border-radius: 3px;
  padding: 17px 54px 15px 54px;
  border: none;
}

.button:hover {
  background-color: var(--btn-basic_hover);
}

.button:focus,
.button:active {
  background-color: var(--btn-basic_focus);
  color: var(--white-transparent);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

/* .button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
} */

/* Services */
.services {
  margin-bottom: 80px;
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services__item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 16px;
}

.services__item p {
  color: var(--basic-extra-dark);
  margin: 0;
}

.services__item {
  display: grid;
  background-repeat: no-repeat;
  margin-right: 60px;
  padding-top: 146px;
  min-height: 201px;

}

.services__item-site {
  /* background-color: var(--accent-red); */
  background-image: url("../img/content/web_site.png");

}

.button-services {
  padding: 17px 40px 15px 39px;
  justify-self: start;
  align-self: end;
}

.services__item-application {
  /* background-color: var(--accent-green); */
  background-image: url("../img/content/application.png");
}

.button-application {
  background-color: var(--accent-green);
}

.button-application:hover {
  background-color: var(--btn-app_hover);
}

.button-application:focus,
.button-application:active {
  background-color: var(--btn-app_focus);
}

.services__item-presentation {
  /* background-color: var(--accent-yellow); */
  background-image: url("../img/content/presentation.png");
}

.button-presentation {
  background-color: var(--accent-yellow);
}

.button-presentation:hover {
  background-color: var(--btn-presentation_hover);
}

.button-presentation:focus,
.button-presentation:active {
  background-color: var(--btn-presentation_focus);
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 360px;
  color: var(--basic-black);
  gap: 40px;
  padding-top: 39px;
  border-top: 2px solid var(--basic-extra-light);
}

.index-columns .title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

/* About us */

.about-us {
  color: var(--basic-extra-dark);
}

h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  /* color: var(--basic-black); */
}

.about-servises__list {
  list-style: outside url("../img/icon/rect-list-style.svg");
}

/* .statistics__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 360px;
} */

.statistics {
  background: url("../img/content/nerds-illustration.png") no-repeat;
}

.statistics__term {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.statistics__definition {
  line-height: 18px;
  color: var(--basic-extra-dark);
}

/* Customers */

.customers__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 40px;
  margin: 0;
  padding: 0;
  border-top: 2px solid var(--basic-extra-light);
  border-bottom: 2px solid var(--basic-extra-light);
  align-items: center;
}

.customers__item a {
  height: 184px;
  display: flex;
}

.customers__list img {
  margin: auto;
}

.customers__item a {
  /* background-color: var(--basic-light); */
  opacity: 20%;
}

.customers__item a:hover {
  opacity: 100%;
}

.customers__item a:focus,
.customers__item a:active {
  opacity: 10%;
}

/* Contacts */

.contacts {
  color: var(--basic-grey);
}

.contacts p {
  line-height: 18px;
}

.contacts .titel {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts__phone {
  color: inherit;
}

.contacts .button {
  padding: 17px 45px 15px 44px;
}

/* Inner page */

.page-title {
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 78px;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
}

.page-catalog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: start;
}

/* Filters */

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter__input {
  /* color: var(--basic-dark); */
  opacity: 40%;
}

.filter__input-checkbox:hover + label,
.filter__input-checkbox:focus + label {
  opacity: 100%;
}

.filter__input-radio:hover + label,
.filter__input-radio:focus + label {
  opacity: 100%;
}

/* Products */

/* Sorting */

.sorting__list {
  list-style: none;
  grid-column: 1/-1;
}

/* Catalog */

.catalog__list {
  list-style: none;
  grid-column: 2/-1;
}

.catalog__item {
  background-color: var(--darck-opacity);
}

.catalog__item {
  color: var(--basic-grey);
  line-height: 18px;
  width: 358px;
  /* text-align: center; */
}

.catalog__item a {
  color: var(--basic-black);
}

.catalog__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.button-catalog {
  padding: 17px 72px 15px 72px;
}

/* Pagination*/

.pagination__list {
  list-style: none;
}

.pagination__item {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
}

.pagination__item:hover {
  background-color: var(--page-hover);
}

.pagination__item:focus,
.pagination__item:active {
  background-color: var(--page-focus);
  box-shadow: inset 0px 3px 0px var(--shadow);
  color: var(--black-transparent);
}

.pagination__item-current {
  border: 3px solid var(--page-current);
  background-color: transparent;
}

/* Main footer */

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 760px;
}

.footer-social__list {
  list-style: none;
  display: grid;
  grid-template-columns: 81px 81px 81px;
  column-gap: 9px;
  margin: 0;
  padding: 0;
}

.footer-social__item a {
  display: block;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--grey-social);
}

.footer-social__item .vk {
  background: var(--grey-social) url("../img/icon/vk.svg") 50% 50% no-repeat;
}

.footer-social__item .fb {
  background: var(--grey-social) url("../img/icon/fb.svg") 50% 50% no-repeat;
}

.footer-social__item .insta {
  background: var(--grey-social) url("../img/icon/insta.svg") 50% 50% no-repeat;
}

.footer-social__item a:hover {
  background-color: var(--btn-basic_hover);
}

.footer-social__item a:focus,
.footer-social__item a:active {
  background-color: var(--btn-basic_focus);
  /* opacity: 20%; */
}

.sale .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

/* Write-us */

.write-us__item label {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.write-us__item p {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.write-us__item input {
  color: var(--grey-input);
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-light);
  border-radius: 3px;
}

.write-us__item textarea {
  color: var(--grey-input);
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-light);
  border-radius: 3px;
}

.write-us__item input:focus,
.write-us__item input:active {
  border-color: var(--btn_hover);
}

.write-us__item textarea:focus {
  border-color: var(--btn_hover);
}

.write-us__form .modal-close {
  background: var(--accent-red) url("../img/icon/close-cross.svg") 50% 50%
    no-repit;
  opacity: 30%;
}
